
<section>
  <div>
    Posted by {{post.User.username}} on {{format_date post.post_date}}
  </div>
  <h2>{{post.title}}</h2>
  <p>
    {{post.body}}
  </p>
</section>

{{#each post.Comments as |comment|}}

  <p>
    {{comment.body}} 
    <em>— {{comment.User.username}}, {{format_date comment_date}}</em>
  </p>

{{/each}}

<form id="comment-form">
  <input type="hidden" id="post-id" value="{{post.id}}">

  <label for="comment">Comment</label>
  <textarea id="comment"></textarea>
  <button type="submit">Submit</button>
</form>